---
import { languages } from '../i18n/ui';
const { pathname } = Astro.url;

// @ts-ignore
const getTargetUrl = (lang: string) => {
  const path = pathname.startsWith('/en') ? pathname.replace('/en', '') : pathname;
  const cleanPath = path === '' ? '/' : path;
  return lang === 'en' ? `/en${cleanPath}` : cleanPath;
};
---

<!-- <div class="flex gap-2 p-2">
  {Object.entries(languages).map(([lang, label]) => (
    <a
      href={getTargetUrl(lang)}
      class={`px-3 py-1 rounded-md text-sm font-medium transition-colors lang-link ${
        (pathname.startsWith('/en') ? 'en' : 'es') === lang
          ? 'bg-white/20 text-white border border-white/30'
          : 'text-white/70 hover:text-white hover:bg-white/10'
      }`}
    >
      {label}
    </a>
  ))}
</div> -->

<div class="flex gap-x-2 p-2">
  {Object.entries(languages).map(([lang, label]) => (
    <a
      href={getTargetUrl(lang)}
      class={`
        lang-link
        rounded-full 
        flex justify-center items-center 
        py-1 px-3 
        text-sm font-medium
        transition-all duration-300
        hover:scale-110
        ${
          (pathname.startsWith('/en') ? 'en' : 'es') === lang
            ? 'border-2 border-white/60 bg-white/20 text-white' 
            : 'border-2 border-transparent text-white/70 hover:text-white hover:bg-white/10'
        }
      `}
    >
      {label}
    </a>
  ))}
</div>

<script is:inline>
  document.addEventListener('click', (e) => {
    const link = e.target.closest('.lang-link');
    if (link) {
      const currentHash = window.location.hash;
      if (currentHash) {
        // Marcamos que estamos haciendo un cambio de idioma con hash
        sessionStorage.setItem('language-switching', 'true');
        link.href = link.getAttribute('href') + currentHash;
      }
    }
  });

  
  if (sessionStorage.getItem('language-switching') === 'true') {
    
    document.documentElement.style.scrollBehavior = 'auto';
    
    if (window.location.hash) {
      const id = window.location.hash.substring(1);
      const el = document.getElementById(id);
      if (el) el.scrollIntoView();
    }

    sessionStorage.removeItem('language-switching');
    setTimeout(() => {
      document.documentElement.style.scrollBehavior = 'smooth';
    }, 100);
  }
</script>

<style>
  .lang-link {
    font-family: 'Onest Variable', system-ui, sans-serif;
  }
</style>