---
import React from '../icons/React.astro'
import Bootstrap from '../icons/Bootstrap.astro'

const TAGS = {
    REACT: {
        name: 'React',
        class: 'bg-[#61DBFB] text-black',
        icon: React,
    },

    BOOTSTRAP: {
        name: 'Bootstrap',
        class: 'bg-[#9F27F5] text-black',
        icon: Bootstrap, 
    },
}

const PROJECTS = [
    {
        title: 'Project 1',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
        link: 'https://entrega-final-react-25235-pl.vercel.app/infaltables',
        github:'https://github.com/PauDev1/entrega-final-react-25235-PL',
        image: '/projects/svgl.webp',
        tags: [TAGS.REACT, TAGS.BOOTSTRAP]
    }
]
---

{
   PROJECTS.map(({image, title, description, tags}) => (
    <article>
        <h3 class="text-2xl font-semibold text-purple-200 mb-2">{title}</h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex gap-x-2 flex-row mb-4">
          {tags.map((tag) => (
              <li>
                <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                <tag.icon class="size=4"/>
                {tag.name}
                </span>
              </li>
          ))}
        </ul>
        <img 
        class="rounded shadow-2xl shadow-white/10"
        src={image} 
        alt={`Captura de pantalla del proyecto ${image}`}
        />
    </article>
   )) 
}